/CritikalComputerEA-ejb/build/
/CritikalComputerEA-war/build/
/CritikalComputerEA-ejb/dist/
/CritikalComputerEA-war/dist/
/dist/
/build/
/nbproject/private/
/CritikalComputerEA-war/nbproject/private/
/CritikalComputerEA-ejb/nbproject/private/